/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Author's custom styles
     ========================================================================== */
  
     /* General Styles */
     body {
      background: radial-gradient(#17B1B9 #FAB558, #7AC66C );
     }

     .content-wrapper,
     nav ul li {
      font-size: 2.5rem;
      justify-content: space-around;
      text-align: center;
      font-family: 'Domine', serif;
     }
  
     a {
      color: white;
      padding: 4px 5px;
      font-size: 3.5rem;
      justify-content: space-evenly;
     }

     a:hover {
      text-transform: lowercase;
      color: orangered;
      text-decoration: underline;
     }
  
     h1 {
      color: white;
      font-family: 'Play', sans-serif;
      font-size: 3.5rem;
      width: 100%;
     }
  
     h2 {
      color: white;
      font-family: 'Play', sans-serif;
      text-align: center;
      font-size: 3rem;
      font-weight: 600;
     }
  
     h3 {
      font-size: 1.875rem;
      text-align: center;
      justify-content: center;
      font-family: 'Domine', serif;
     }
  
     h4 {
      font-size: 3rem;
      text-align: center;
     }
  
     h5 {
      font-size: 2rem;
      text-align: center;
     }
  
     .project-link,
     .tool-wrapper p {
      font-size: 2.25rem;
      font-weight: 700;
      color: white;
      justify-content: center;
      font-family: 'Domine', serif;
      text-align: center;
     }

     .language-wrapper p { 
      border-style: inset;
      border-radius: 65px 55px;
      width: 100%;
      align-items: center;
      justify-content: space-between;
     }
  
     .about-info h4,
     .contact-title {
      font-weight: 600;
      font-family: 'Domine', serif;
      align-items: center;
     }
  
     h3,
     h4,
     h5,
     h6 {
      justify-items: center;
      color: white;
      width: 100%;
      text-align: center;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 2.15rem;
     }
  
     p,
     li {
      font-size: 1.785rem;
      justify-content: space-evenly;
     }
  
     span {
      font-weight: 400;
      font-family: 'Play', sans-serif;
      text-align: center;
      font-size: 2.25rem;
     }
  
     img {
      width: 60%;
      justify-content: center;
     }
  
     figure {
      display: flex;
      height: 100%;
      justify-content: center;
      font-family: 'Domine', serif;
    }
  
     address {
      font-style: normal;
     }
  
     /* Structural Styles */
     header,
     #about,
     #work,
     #skills,
     #contact, 
     footer {
      display: flex;
      justify-content: center;
      align-items: center;
     }
  
     .content-wrapper {
      width: 100%;
      align-items: center;
      background-image: radial-gradient(#0213FF, #009863, #B6C45D);
     }
  
     #about p,
     #work p {
      width: 100%;
      align-items: center;
      font-size: 2rem;
      font-family: 'Play', sans-serif;
      text-align: center;
     }

     .about-info {
      color: honeydew;
      text-shadow: 2px 4px 15px orange;
      font-weight: 800;
      font-size: 3.75rem;
     }

     .about-text {
      font-family: 'Play', sans-serif;
      font-size: 2.645rem;
      text-align: center;
      display: flex;
     }
  
     /* setting all margins to zero removes all browser added default margins */
     h1,
     h2,
     h3,
     h4,
     h5,
     h6 {
      margin: 0;
     }
  
     p {
      margin: 0;
     }
  
     /* then you can set the margin & paddings for any element */
     header {
      padding: 9px 10px;
     }
  
     nav {
      margin: 8px 0;
      font-size: 3rem;
     }
  
     #about {
      padding: 10px;
     }
  
     #work {
      padding: 8px;
     }
  
     #skills {
      padding: 8px;
      border-style: ridge;
      border-radius: 30px 40px;
    }
    
    #contact {
      padding: 3px 5px;
      margin: 3px;
      justify-content: center;
      font-size: 2.75rem;
      font-family: 'Play', sans-serif;
      text-align: center;
    }
    
    footer {
      padding: 15px;
      text-align: center;
      justify-items: baseline;
    }

    h4 {
      font-size: 2.35rem;
      color: white;
      text-decoration: overline;

    }
    
    .project-description {
      align-items: center;
    }
    
    .project-link {
      margin: 5px;
      padding: 10px;
    }
    
    #skills {
      border-radius: 35px;
      border-style: inset;
      align-items: center;
      list-style-type: hidden;
    }

    .language-wrapper,
    p {
      font-weight: 800;
      color: white;
      text-align: center;
      font-size: 2.875rem;
      text-decoration: underline;
      justify-items: center;
      margin: 200px;
      padding: 10px;
    }
    
    figure {
      margin: 20px 0 40px 0;
      align-items: center;
    }
  
    .skills-header {
      margin: 5px;
      color: white;
      align-items: center;
      font-size: 3rem;
      text-align: center;
    }

    #skills h4 {
      font-family: 'Delicious Handrawn', cursive;
      color:whitesmoke;
      font-size: 2.5rem;
      text-align: center;
    }

    .language-wrapper {
      font-family: 'Delicious Handrawn';
      align-items: center;
      color: white;
      font-size: 2.5rem;
      font-weight: 700;
      text-align: center;
      justify-content: space-around;

    }

    h4 {
      color: white;
      text-align: center;
      font-size: 2rem;
    } 
    

    .tool-wrapper,
    p {
      font-family: 'Delicious Handrawn', cursive;
      align-items: center;
      font-size: 2.25rem;
      border-style:ridge;
      border-radius: 45px 30px;
      color: white;
      text-align: center;
      font-weight: 700;
    }
    
    .about-info h3 {
      margin: 40px 0 40px 0;
    }
    
    .about-text {
      margin: 0 0 30px 0;
    }
    
    #contact {
      margin-bottom: 60px;
      align-items: center;
      font-weight: 700;

    }
    
    .contact-info {
      margin: 0 0 60px 0;
      justify-content: center;
      font-family: 'Domine', serif;
      font-weight: 700;
      font-size: 1.785rem;
      border-style: inset;
      border-radius: 95px;
    }
    
    .contact-title {
      margin: 0 0 40px 0;
    }

    .contact-info, 
    .follow-section {
      font-family: 'Domine', serif;
      font-size: 2rem;
      align-items: center;
    }

    .social-icons ul {
      width: 115px;
      height: 90px;
      align-items: center;
    }

    #license {
      justify-content: end;
      text-align: center;
      font-size: 1.895rem;
    }
  
    /* ------------ Base Header Styles -------------- */
  
    header {
      background: linear-gradient(180deg, #50B2C0, #003EE4);
      justify-content: stretch;
      display: flex;
    }

    .portfolio-header,
    h3 {
      font-size: 3rem;
      font-family: 'Play', sans-serif;
      font-weight: 700;
      text-decoration: solid;
    }
  
    header nav ul li {
      font-size: 1.75rem;
      margin-bottom: 20px;
      font-weight: bold;
      text-transform: uppercase;
    }
  
    nav #contact-link {
      padding: 10px 10px;
      border-radius: 30px;
    }
  
    nav ul {
      display: flex;
      justify-content: space-between;
      font-size: 3.5rem;
    }

    nav ul li:hover {
      color: #9198e5;
      text-decoration: underline;
    }
  
    header h1 {
      width: 100%;
    }
  
    header h2 {
      width: 100%;
    }
  
    /* ------------ Mobile Styles - Homepage ------------ */
  
    /* Portfolio */
    #work,
    #skills {
      font-family: 'Open Sans', sans-serif;
      font-size: 2.25rem;
      text-align: center;
      display: block;

    }
  
    #work h3 {
      width: 100%;
    }
  
    .portfolio-wrapper {
      display: flex;
      justify-content: center;
      align-items: inherit;
      flex-flow: row wrap;
      text-align: center;
    }
  
    .home-portfolio-piece {
      width: auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  
    .home-portfolio-piece h4 {
      font-weight: 600;
      font-size: 2rem;
      text-align: center;
      text-decoration: double;
    }
  
    .home-portfolio-piece figure {
      width: 100%;
      filter: drop-shadow(1px 2px 6px lightgrey);
    }
  
    .project-link {
      background-color: #152A3E;
      padding: .75rem 3.75rem;
      border-radius: 30px;
      color: white;
    }
  
    .project-link:hover {
      background-color: #E3B984;
      color: #152A3E;
    }
  
    #skills {
      background: linear-gradient( #cac691, #8d88 );
      align-items: inherit;
      font-size: 2rem;
      justify-content: space-between;
      font-family: 'Delicious Handrawn', cursive;
      font-weight: 500;
    }
  
    #skills h4 {
      margin: 40px 0 40px 0;
      font-weight: bold;
    }
  
    .language-wrapper p,
    .tool-wrapper p {
      padding: 15px 0;
      margin: 20px 0;
      align-items: center;
      justify-content: space-between;

    }
  
    .tool {
      width: 100%;
      font-family: 'Delicious Handrawn', cursive;
      text-align: center;
      align-items: inherit;
    }
  
    /* About */
    #about {
      background: linear-gradient(45deg, #003EE4, #05CD04);
      align-items: center;
      font-size: 1.875rem;
    }
  
    #profile-image {
      background-size: 50%;
      background: linear-gradient(185deg, #999, #E3B984)
    }
  
    #about h3,
    #about h4,
    #about p {
      color: #152A3E;
    }
  
    /* -------------Base Header Styles ----------------- */
    footer {
      background: linear-gradient(#50B2C0, #9198e5, #B6C45D);
      text-align: center;
      align-items: flex-end;
      justify-content: space-around;
      font-family: 'Domine', serif;
      font-size: 1.75rem;
    }
  
    footer .contact-wrapper {
      background: radial-gradient(#FB3B00, #05CD04, #A367D8);
      display: flex;
      flex-flow: column wrap;
      font-family: 'Play', sans-serif;
      text-align: center;
      font-size: 1.725rem;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: inherit;
    }
  
    footer .contact-info {
      font-size: 1.985rem;
      font-family: 'Domine', serif;
      text-align: center;
      justify-content: space-evenly;
    }
  
    footer h4 {
      width: 100%;
    }
  
    footer .follow-section {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }
  
    footer .social-icons {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  
    footer ul {
      width: 100%;
    }
  
    footer .social-icons li {
      width: 80px;
      height: 75px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    footer .social-icons li i {
      align-items: center;
    }
  /* ==========================================================================
     Helper classes
     ========================================================================== */
  
  /*
   * Hide visually and from screen readers
   */
  
  .hidden,
  [hidden] {
    display: none !important;
  }
  
  /*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */
  
  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }
  
  /*
   * Extends the .sr-only class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */
  
  .sr-only.focusable:active,
  .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
  
  /*
   * Hide visually and from screen readers, but maintain layout
   */
  
  .invisible {
    visibility: hidden;
  }
  
  /*
   * Clearfix: contain floats
   *
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    `contenteditable` attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that receive the `clearfix` class.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
  
  .clearfix::before,
  .clearfix::after {
    content: " ";
    display: table;
  }
  
  .clearfix::after {
    clear: both;
  }
  
  /* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
  
  @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }
  
  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }
  
  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
  
  @media print {
    *,
    *::before,
    *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    a,
    a:visited {
      text-decoration: underline;
    }
  
    a[href]::after {
      content: " (" attr(href) ")";
    }
  
    abbr[title]::after {
      content: " (" attr(title) ")";
    }
  
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
      content: "";
    }
  
    pre {
      white-space: pre-wrap !important;
    }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
      display: table-header-group;
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
  